.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 25px;
}

projects {
  display: flex;
  align-items: center;
  max-width: 700px;
  flex-wrap: wrap;
  margin: auto;
  border: 4px solid #136950;
  background-color: #e5e5f7;
  background-image:  linear-gradient(135deg, #d9dbef 25%, transparent 25%), linear-gradient(225deg, #edeef5 25%, transparent 25%), linear-gradient(45deg, #d9dbef 25%, transparent 25%), linear-gradient(315deg, #ebecf5 25%, #e5e5f7 25%);
  background-position:  10px 0, 10px 0, 0 0, 0 0;
  background-size: 20px 20px;
  background-repeat: repeat;
  justify-content: center;
  border-radius: 8px;
  transition: border-color 0.3s, background-color 0.3s;
  padding: 20px; 
  padding-bottom: 60px;
}

projects:hover {
  border: 4px solid #36a888;
}

projects projcontain {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Two columns */
  max-width: 800px;
  padding: 20px;
  flex-direction: column;
  gap: 40px;
  border-radius: 8px;
  user-select: none;
  transition: border-color 0.3s, background-color 0.5s;
}

projects projcontain container{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  justify-content: center;
  border: 3px solid #2a6964;
  background-color: #30a7a100;
  backdrop-filter: blur(3px) saturate(70%);
  border-radius: 8px;
  user-select: none;
  transition: border-color 0.3s, background-color 0.5s;
  text-decoration: none;
}

projects projcontain container:hover {
  background-color: #d3dddd1f;
  border: 3px solid #28aca1;
}

projects projcontain container h3{
 padding: 20px;
}

projects projcontain container a{
  text-decoration: none;
  width: 150px;
  border: 2px solid #2a6964;
  background-color: #1fdfbf3b;
  backdrop-filter: blur(3px) saturate(70%);
  font-family: "Montserrat", sans-serif;
  text-align: center;
  border-radius: 8px;
  transition: background-color 0.5s, border-color 0.3s, width 0.3s;
}

projects projcontain container a:hover {
  border: 2px solid #23a781;
  background-color: #83dac8b6;
}

projects projcontain container ul {
    display: flex;
    justify-content: center;
    gap: 5px;
    margin-left: -40px;
    list-style: none;
    align-items: center;
    font-family: "Montserrat", sans-serif;
    transition: background-color 0.3s, border-color 0.3s;
    flex-wrap: wrap;
}

projects projcontain container ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 5px;
  padding: 5px 10px;
  background-color: #83dac8b6;
  border-radius: 8px;
  color: #2e8d75;
}

projects projcontain container p {
  display: flex;
  overflow-wrap: break-word;
  flex-direction: column;
  width: max-content;
  padding-top: 10px;  
  padding-bottom: 10px;
  border: 2px solid #2a6964;
  border-radius: 8px;
  font-family: "Montserrat", sans-serif;
  color: #fafafa;
  font-size: 14px;
  width: 80%;
  background-color: #50a8a1;
  transition: border-color 0.3s, background-color 0.5s;
 }

 projects projcontain container p:hover {
  background-color: #50a8a1d3;
 }

@media (max-width: 800px) {
  .container {
    padding: 20px;
  }

  projects {
    padding: 15px;
    max-width: 93%;
  }

  projects projcontain {
  grid-template-columns: 1fr;
  }
}