.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

experience {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    margin: auto;
    border: 4px solid #136950;
    background-color: #e5e5f7;
    background-image:  linear-gradient(135deg, #d9dbef 25%, transparent 25%), linear-gradient(225deg, #edeef5 25%, transparent 25%), linear-gradient(45deg, #d9dbef 25%, transparent 25%), linear-gradient(315deg, #ebecf5 25%, #e5e5f7 25%);
    background-position:  10px 0, 10px 0, 0 0, 0 0;
    background-size: 20px 20px;
    background-repeat: repeat;
    justify-content: center;
    border-radius: 8px;
    transition: border-color 0.3s, background-color 0.3s;
    padding: 20px; 
    padding-bottom: 60px;
    font-family: "Montserrat", sans-serif;
    font-size: 30px;
    color: #0c8177;
}

experience:hover {
    border: 4px solid #36a888;
    background-color: #d9f8f8a4;
}

h1 {
    padding: 20px;
}

.skillsContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(80px, 2fr));
    /* border: 3px solid #2a6964;
    background-color: #30a7a100; */
    /* border-radius: 8px; */
    padding: 20px;
    gap: 20px;
    width: 70%;
    /* transition: background-color 0.3s, border-color 0.3s; */
}

/* .skillsContainer:hover {
    background-color: #d3dddd1f;
    border: 3px solid #28aca1;
} */


.skills {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 40px;
    max-height: 40px;
    padding: 20px;
    font-family: "Montserrat", sans-serif;
    background-color: #d1e8eb00;
    backdrop-filter: blur(2px) saturate(70%);
    border: 3px solid #2a6964;
    border-radius: 8px;
    transition: background-color 0.3s, border-color 0.3s;
}

.skills:hover {
    background-color: #83dac8b6;
    border: 3px solid #23a095;
    cursor: pointer; 
}

dsc p {
    background-color: #eef1f16c;
    backdrop-filter: blur(1px);
    border: 3px solid #2a6964;
    border-radius: 8px;
    height: 80px;
    padding: 10px;
    width: 300px;
    transition: background-color 0.3s, border-color 0.3s;
}

dsc p:hover {
    background-color: #d3dddd8f;
    border: 3px solid #28aca1;
}

@media (max-width: 900px) {
    .container {
        padding: 20px;
    }
    experience {
        padding: 70px;
        width: 60%;
        padding-bottom: 30px;
        padding-top: 20px;
    }

    .skillsContainer {
        width: 300px;
    }
    dsc p {
        padding: 5px;
    }
}