@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Varela+Round&display=swap");


#root {
  display: flex;
  flex-direction: column;
  gap: 40px;
  text-align: center;
}

/* Background */
body {
  background-color: #e5e5f7;
  background-image:  linear-gradient(#97dbcd 1px, transparent 1px), linear-gradient(to right, #97dbcd 1px, #e5e5f7 1px);
  background-size: 15px 15px;
  transition: background-size 0.3s;
}
body.dark-mode {
  background-color: #e5e5f7;
background-image: radial-gradient( ellipse farthest-corner at 10px 10px , #141414, #000000 50%, #000000 50%);
background-size: 12px 12px;

}

/*Common font/styling */
.main {
  font-family: "Montserrat", sans-serif;
  margin: 0px 0 -20px 0;
  color: #217c75;
  font-size: 64px;
}

.main_sub {
  font-family: "Montserrat", sans-serif;
  margin: 0px 0 0px 0;
  color: #217c75;
  font-size: 52px;
}

.sub {
  font-family: "Montserrat", sans-serif;
  margin: -10px;
  color: #3a8f7a;
  font-size: 32px;
}

.subsub {
  font-family: "Montserrat", sans-serif;
  margin: 10px 0 0px 0;
  color: #3a9b83;
  font-size: 24px;
  font-weight: bold;

}

body.dark-mode .main{
  color: rgb(255, 255, 255);
}

body.dark-mode .main_sub {
  font-family: "Montserrat", sans-serif;
  margin: 0px 0 0px 0;
  color: rgb(211, 233, 233);
}

body.dark-mode .sub{
  color: rgb(218, 230, 230);
}

body.dark-mode .subsub {
  font-family: "Montserrat", sans-serif;
  margin: 0px 0 0px 0;
  color: rgb(135, 196, 175);
}

/* Navbar */
body.dark-mode nav {
  border-color: #65ceab;
  background-color: rgb(43, 44, 44);
}
body.dark-mode nav:hover {
  border-color: #9de4cc;
  background-color: rgb(56, 56, 56, 0.753);
}

body.dark-mode nav a{
  border-color: #65ceab;
  background-color: rgb(43, 44, 44);
}
body.dark-mode nav a:hover {
  border-color: #9de4cc;
  background-color: rgba(124, 124, 124, 0.753);
}

/* Header */
body.dark-mode contactborder {
  border-color: #65ceab;
  background-color: rgb(43, 44, 44);
}
body.dark-mode contactborder:hover {
  border-color: #97d6cd;
  background-color: rgb(56, 56, 56, 0.753);
}

body.dark-mode span {
  img {
    background-color: #4e837d;
        border: 3px solid #65ceab;
        border-radius: 8px;
  }

  img:hover {
    background-color: #97d6cd;
  }
}

body.dark-mode img {
  border-color: #65ceab;
}

/* About */
body.dark-mode about {
  background-color: rgb(43, 44, 44);
  border: 4px solid #65ceab;
}

body.dark-mode about:hover {
  background-color: rgb(56, 56, 56, 0.753);
  border: 4px solid #7dd3bd;
}

/* Experience / Skills */
body.dark-mode skills {
  background-color: rgb(82, 153, 129);
  border: 3px solid #96c0b3;
  color:rgb(23, 65, 54);
}

body.dark-mode experience {
  background-color: rgb(43, 44, 44);
  border: 4px solid #65ceab;
  color: rgb(211, 233, 233);
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
}

body.dark-mode experience:hover {
  background-color: rgb(56, 56, 56, 0.753);
  border: 4px solid #68c4a5;
}

/*Projects */


/* Contact */
body.dark-mode contact {
  background-color: rgb(43, 44, 44);
  border: 4px solid #65ceab;
}

body.dark-mode contact:hover {
  background-color: rgba(56, 56, 56, 0.753);
  border: 4px solid #7dd3bd;
}

body.dark-mode contact connect {
  background-color: rgb(82, 153, 129);
  border: 4px solid #9ce9d0;
  color: rgb(255, 255, 255);
}

body.dark-mode contact connect:hover {
  background-color: rgb(85, 211, 169);
  border: 4px solid #b9e7d9;
  color: rgb(255, 255, 255);
}

/* Footer */
body.dark-mode footer {
  background-color: rgb(82, 153, 129);
  border: 3px solid #96c0b3;
  color:rgb(224, 235, 232);
}